.slide-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0;

  .slide-indicator__titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: var(--ion-color-medium);
    padding-bottom: 8px;

    .slide-indicator__titles-title {
      flex: 1;
      text-align: center;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
    }

    .slide-indicator__titles-title.active {
      color: var(--ion-color-dark);
    }

    .slide-indicator__titles-title.disabled {
      color: var(--ion-color-medium-shade);
      cursor: not-allowed; // Prevent clicking
    }
  }

  .progress-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6px;
    background: var(--ion-color-light);
    overflow: hidden;
  }

  .progress-step {
    flex: 1;
    height: 100%;
    background: var(--ion-color-light);
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
  }

  .progress-step:not(:last-child) {
    margin-right: 7px;
  }

  .progress-step.active {
    background: var(--ion-color-success);
  }

  .progress-step.disabled {
    background: var(--ion-color-medium-tint);
    cursor: not-allowed;
  }
}