.circle-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;

    .swiper {
        height: fit-content;
    }
}

.no-circles__image {
    width: 150px;
    height: auto;
    margin: 0 auto;

    border-radius: 16px;
    overflow: hidden;
}
