.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.ion-text-subtitle {
  font-size: 16px;
  font-weight: 500;
}

.active-circles-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;

  .swiper {
    height: fit-content;
  }
}