@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  @include flex-center;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--ion-color-light);
  margin: 8px 0;
}

// Swiper pagination variables seems to be undefined
// or maybe overwritten by the theme styles (so overwrite it by default)
.swiper .swiper-pagination-bullet {
  background: var(--ion-color-dark-tint) !important;
}

.ion-text-bold {
  font-weight: bold !important;
}

.w-100 {
  width: 100% !important;
}