.swiper__container {
  height: 100%;
  padding: 16px;
}

.swiper__slide-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper__slide-content {
  text-align: left;
}

.swiper__footer {
  width: 100%;
  padding: 10px;

  position: fixed;
  bottom: 0;
  left: 0;
}

.currency {
  font-weight: bold;
  font-size: 16px;
}

.selection-card__container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 16px 0;
}

.selection-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  padding: 16px;
  margin: unset;
  text-align: left;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  background: var(--ion-background-color);
  min-width: 80px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);

  transition: all 0.3s ease-in-out;

  span {
    display: block;
  }

  .duration-text {
    font-size: 18px;
    font-weight: bold;
    color: var(--ion-text-color); // Adjusts text based on theme
  }

  .amount-text {
    font-size: 14px;
    font-weight: normal;
    color: var(--ion-color-medium);
  }

  &:hover {
    border-color: var(--ion-color-primary); // Changes border on hover
  }

  &.selected {
    border-color: var(--ion-color-primary);
    color: var(--ion-color-primary);
    position: relative;

    &::after {
      content: "✔"; // Show checkmark on selected duration
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 16px;
      font-weight: bold;
      color: var(--ion-color-primary);
    }
  }
}
